<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    {% # Inlined CSS Variables %}
    {% render 'css-variables' %}

    {% # Load and preload the critical CSS %}
    {{ 'critical.css' | asset_url | stylesheet_tag: preload: true }}

    {% # Social, title, etc. %}
    {% render 'meta-tags' %}

    {{ content_for_header }}

    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4" defer></script>

    <style type="text/tailwindcss">
      @theme {
        --color-sand-950: #1f1b17;
        --color-sand-900: #2b2620;
        --color-sand-800: #3c342c;
        --color-sand-700: #51463c;
        --color-sand-600: #6a5e52;
        --color-sand-500: #8b7a69;
        --color-sand-400: #b09e8e;
        --color-sand-300: #d2c3b3;
        --color-sand-200: #e6d6c3;
        --color-sand-100: #f0e5d8;
        --color-sand-50: #f8f3ec;
      }
    </style>
  </head>

  <body>
    {% section 'header' %}

    {{ content_for_layout }}

    {% section 'footer' %}
  </body>
</html>
